body{
    background-color: #c0ffee;
}

header{
    width: 300px;
    alignment: center;
    padding: 50px;
    margin: 20px;
}

h1{
    alignment: center;
    padding-left:  300px;
    margin: auto;
    max-width: 500px
}

p{
    alignment: center;
    padding-left:  20px;
}
div {
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
}
