<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<script src="../js/home.js"></script>

<header>
    <!-- Add actually logo if we get one -->
    <div th:class="header_body_alignment">
        <h1 th:class="center_title">Welcome to Listopher</h1>
        <div th:class="logo_container">
            <img  th:src="@{/img/Listopher-logos_transparent.png}" th:alt="wishlist_logo">
        </div>
        <div id="accBtn" th:class="sing_up_indent" >
            <button id="createAcc", onclick="signup()">Sign up</button>
        </div>
    </div>
</header>

<body>
    <div th:class="shift_40_alignment">
        <div th:class="body_for_alignment">
            <div th:class="login_container">
                <div th:class="left_column">
                    <h2>Please login</h2>
                    <div>
                        <h3>Username</h3>
                        <input type="text" id="name">
                    </div>
                    <div>
                        <h3>Password</h3>
                        <input type="text" id="password">
                    </div>
                    <button id="login" onclick="login()"> Login</button>
                </div>
            </div>

            <div>
                <p th:class="left_column">Im going to add some images to this section of gifts with in the right left colums</p>
                <p>Other images</p>
            </div>
        </div>
    </div>



    <footer th:class="footer">
        <p>
            We here at Listopher offer a neat and simple way to create and organize lists for any need. As well as a place to store all those pesky lists.
        </p>
    </footer>

</body>
</html>