<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing_page</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<script src="../js/landing_page.js"></script>

<body>
<h2>Welcome!</h2>

<div id="options">
    <table>
        <tr>
            <th><button id="Lists" onclick="goToWishlists()"> Wish lists</button></th>
            <th><button id="settings" onclick="goToSettings()">Settings</button></th>
            <th><button id="logout" onclick="logout()"><a th:href="@{/}">Log In</a></button></th>
        </tr>
    </table>
</div>

</body>
</html>