<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign_up</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <h2>Create a New Account</h2>
</header>

<form action="signupUser" method="post">

    <h3>Username</h3>
    <input type="text" id="newUsername" name="username">
    </br>

    <h3>Email</h3>
    <input type="text" id="newEmail" name="email">

    <h3>Password</h3>
    <input type="text" id="newPassword" name="password">
    </br></br>

    <button type="submit" id="createAcc">Sign up!</button>
</form>

</body>
</html>